/* GLOBAL RULES */

body {
  font-family: 'Trip Sans Med', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1140px;
  /* border: solid 3px; */
  margin: 0 auto;
}

h1 {
  font-size: 40px;
}

h1 span {
  color: red;
}

h2 {
  font-family: 'Trip Sans Med';
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Trip Sans Med';
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  height: 385px;
  background-color: limegreen;
  border: black 4px solid;
  margin-bottom: 100px;
  display: flex;
}

.text-1 {
  font-family: 'Trip Sans Reg';
  font-weight: 300;
  font-size: 18px;
  width: 230px;
  line-height: 24px;
  margin-bottom: 10px;
  display: flex;
}

.text-2 {
  font-family: 'Trip Sans Reg';
  font-weight: 700;
  font-size: 16px;
  width: 288px;
  text-align: justify;
  text-decoration: underline;
  margin-top: 10px;
  cursor: pointer;
}

/* HEADER */
p {
  font-family: 'Trip Sans Reg';
  font-weight: 300;
  font-size: 18px;
  width: 445px;
  text-align: justify;
  line-height: 24px;
  margin-bottom: 60px;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 150px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav div {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

header nav div:hover {
  background-color: lightgray;
  font-size: 'Trip Sans Med';
  font-weight: 700;
  cursor: pointer;
}

header nav div i {
  font-size: 30px;
  color: grey;
}

header button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  font-family: inherit;
}

header button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* MAIN */

main {
  padding-top: 50px;
}

.menu {
  margin: 40px 0;
  display: flex;
}

.menu div {
  border: black 2px solid;
  flex: 1;
  /* width: calc(100% / 6); */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.menu div:not(:last-child) {
  margin-right: 20px;
}

.menu div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.pictures {
  height: 430px;
  margin-bottom: 50px;
  display: flex;
}

.pictures .col-1 {
  flex: 1;
  height: 100%;
  margin-right: 2px;
}

.pictures .col-2 {
  width: 480px;
  height: 100%;
}

.pictures .col-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pictures .col-2 img {
  width: 100%;
  height: calc(50% - 1.5px);
  object-fit: cover;
}

.divertissement {
  width: 1000px;
  display: flex;
  box-sizing: border-box;
}

.divertissement .col-1 {
  margin-right: 10px;
}

.divertissement .col-2 {
  display: flex;
  padding-top: 50px;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
}

.divertissement .col-2 img {
  margin-right: 15px;
  width: 275px;
  height: 200px;
}
